.home-header{
    display: flex;
    justify-content: space-between;
    padding-top: 10em;
}

.list{
    display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . . ."
    ". . . ."; 
}
h4{
  text-decoration: underline;
}
.menu{
  display: fixed;
}