.home-header{
    display: flex;
    justify-content: space-between;
    padding-top: 10em;
}

.list{
    display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . . ."
    ". . . ."; 
}
h4{
  text-decoration: underline;
}
.menu{
  display: fixed;
}
.footer{
    background-color: #2d2e32;
    color: #fff;
    display: flex;
    justify-content: space-around;
    height: 7em;
    padding: 2.5rem;
  
}
.footer h4{
 text-decoration: none;
}
.ready{
    margin-top: -2%;
}
.checkout{
    margin-top: 5%;
}
.spinner-border{
    position: fixed;
    top: 50%;
    left: 50%;
   
    
}